@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  /* Colors */
  --bg: hsl(36, 100%, 99%);
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  /* Typography */
  --font-size-p: 15px;
  --regular: 400;
  --bold: 700;
  --extra-bold: 800;
}

body {
  background-color: var(--bg);
  color: black;
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-p);
  padding: 5rem 10rem;
}

.header,
.header__links {
  display: flex;
  justify-content: space-between;
  gap: 2.5rem;
}

.header {
  margin-bottom: 2.5rem;
}

.header__links {
  color: var(--dark-grayish-blue);
}

.header__links a:hover {
  color: var(--soft-red);
}
.header__links * {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 2rem;
}

.main {
  display: grid;
  grid-area: 1 / 1 / span 2 / span 2;
  grid-template-columns: subgrid;
}

.banner {
  grid-area: 1 / 1 / span 1 / span 2;
}

.banner__img {
  width: 100%;
}

.main__heading {
  color: var(--very-dark-blue);
  font-size: 2.5rem;
  font-weight: var(--extra-bold);
  grid-area: 2 / 1 / span 1 / span 1;
  width: 250px;
}

.main__text {
  color: var(--dark-grayish-blue);
  grid-area: 2 / 2 / 3 / 3;
  line-height: 1.5em;
}

.main__text p {
  margin-bottom: 2rem;
}

.read-more {
  background-color: var(--soft-red);
  color: var(--bg);
  font-weight: var(--bold);
  font-size: .9rem;
  letter-spacing: .2rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  outline: none;
}

.read-more:hover {
  background-color: var(--very-dark-blue);
}

.new {
  background-color: var(--very-dark-blue);
  color: var(--bg);
  grid-area: 1 / 3 / span 2 / span 1;
  padding: 1rem;
}

.new header {
  color: var(--soft-orange);
  font-size: 2rem;
  font-weight: var(--bold);
  padding: .5rem 0;
}

.new__article {
  border-bottom: 1px solid var(--grayish-blue);
  padding: .5rem 0 2rem 0;
  margin-bottom: 1rem;
}

.new__article h2 {
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 2em;
}

.new__article h2:hover {
  color: var(--soft-orange);
}
.new__article p {
  color: var(--grayish-blue);
  line-height: 1.5em;
}

.new__article:last-child {
  border: none;
  margin-bottom: 0;
}

.highlights {
  display: grid;
  grid-area: 3 / 1 / span 1 / span 3;
  grid-template-columns: subgrid;
  margin-top: 2.5rem;
  place-content: flex-start;
}

.highlights__box {
  display: flex;
  gap: 1rem;
  height: 100px;
  aspect-ratio: 3;
}

.highlights__box img {
  height: 100px;
}

.highlights__text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.highlights__text h2{
  color: var(--grayish-blue);
}

.highlights__text h3{
  color: var(--very-dark-blue);
}

.highlights__text h3:hover{
  color: var(--soft-red);
}

.highlights__text p{
  color: var(--dark-grayish-blue);
}

.attribution {
  color: var(--grayish-blue);
  background-color: var(--very-dark-blue);
  padding: 2rem 4rem;
  position: absolute;
  left: 0;
  width: 100%;
  font-size: 1rem;

}
.attribution a {
  color: var(--soft-orange);
}

.one {
  grid-area: 3 / 1 / 4 / 2;
}

.two {
  grid-area: 3 / 2 / 4 / 3;
}

.three {
  grid-area: 3 / 3 / 4 / 4;
}